<h2>Educación</h2>
<div>
    <ul>
        <li>
            <h4>Limansky - Fabrica de Colchones</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptates harum officiis. Commodi nisi
                recusandae, repudiandae exercitationem molestias, quibusdam modi soluta impedit ab dicta necessitatibus
                distinctio voluptas eum optio est?</p>
        </li>
        <li>
            <h4>El Faro - Panificadora</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptates harum officiis. Commodi nisi
                recusandae, repudiandae exercitationem molestias, quibusdam modi soluta impedit ab dicta necessitatibus
                distinctio voluptas eum optio est?</p>
        </li>
    </ul>
</div>