<div>
    <h2>Mis trabajos</h2>
    <div class="container-fluid">
        <a class="works" href="https://codepen.io/bauti-saire/full/abLLRBJ" target="_blank">
            <img src="../../../assets/images/works/quotenote.png" alt="">
            <p>Quote Note</p>
        </a>

        <a class="works" href="https://codepen.io/bauti-saire/full/abLLRBJ" target="_blank">
            <img src="../../../assets/images/works/drum-machine.png" alt="">
            <p>Drum Machine</p>
        </a>


        <a class="works" href="https://bautisaire.github.io/" target="_blank">
            <img src="../../../assets/images/works/fireworks.png" alt="">
            <p>Fireworks By bau</p>
        </a>


        <a class="works" href="https://codepen.io/bauti-saire/full/abLLRBJ" target="_blank">
            <img src="../../../assets/images/works/calculator.png" alt="">
            <p>Calculadora</p>
        </a> <a class="works" href="https://codepen.io/bauti-saire/full/abLLRBJ" target="_blank">
            <img src="../../../assets/images/works/calculator.png" alt="">
            <p>Calculadora</p>
        </a>
    </div>
</div>