<div class="row profile">
    <div class="img-profile col-6 col-lg-2"></div>
    <div class="title col-6 col-lg-2">
        <h2>Bautista Saire</h2>
        <p><i>Full stack developer jr</i></p>
    </div>
    <div class="aboutMe col-lg-8">
        <h3>Acerca de mí</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur consequuntur laboriosam iure sequi repellat iste tempora culpa voluptatibus ea explicabo distinctio aliquid facere repellendus, ut reprehenderit? Necessitatibus rerum molestias ipsam?
            Obcaecati repudiandae velit quia commodi tenetur sint deserunt! Numquam quae dolor nulla ab tempore beatae sapiente quasi, magni, dolore earum deserunt fugit necessitatibus doloremque explicabo iure hic est consectetur repellendus?
            Modi laudantium aut officiis at atque? Mollitia, maxime? Ut excepturi, ducimus voluptates facilis autem natus beatae cum odit alias sit vitae accusamus, modi, iste aliquid laboriosam. Debitis, soluta. Eos, minus.</p>
    </div>
</div>

