<div>
    <h2>Habilidades</h2>
    <div >
        <div class="col-lg-4">
            <circle-progress class="text-center"
            [title]="'85'"
            [subtitle]="'CSS'"
            [subtitleFontSize]="'24'"
            [subtitleColor]="'#000'"
            [percent]="85" 
            [radius]="50" 
            [outerStrokeWidth]="8" 
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#3a014a'" 
            [innerStrokeColor]="'#fff'" 
            [animation]="false" 
            [animationDuration]="100">
            </circle-progress>
        </div>
       
    </div>
</div>